*{
    padding:0;
    margin:0;
  }

#background-animated {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-gradient {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.9444152661064426) 0%, rgba(0,0,0,0.37298669467787116) 100%);
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-width: 5px;
    width: 800px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    
}

h1 {
    font-size: 400%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#Nick {
    color: rgb(8, 222, 65);
}
h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
p {
    color: white;
    font-family: 'Roboto', sans-serif;
}


