*{
    padding:0;
    margin:0;
    text-decoration: none;
    user-select: none;
    background-color: rgb(80, 80, 80);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(80, 80, 80);
}

/* Path: style.css */
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    height: 100vh;
}